services:
  api:
    build: .
    ports:
      - 80:80
    env_file:
      - ./.env
    environment:
      POSTGRES_HOST: postgres
    depends_on:
      - postgres

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DATABASE}

    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db: